---
layout: default
---
<article class="line" itemscope itemtype="">

<script>
  document.getElementsByTagName("img").className="bbb";
  </script>
  
  <div itemprop="articleBody">
    {{ content }}
  </div>

    {% include tags_list.html tags=page.tags tag_count=page.tags.size %}
</article>

<p></p>
    <!-- 前後のページへのリンクを表示したい -->
    <div class="pager">
      {% if page.previous %}
      <p class="pager__item--prev">
        <a href="{{ page.previous.url | relative_url }}">前の記事： {{ page.previous.title }}</a>
      </p>
      {% endif %}

      {% if page.next %}
      <p class="pager__item--next">
        <a href="{{ page.next.url | relative_url }}">次の記事： {{ page.next.title }}</a>
      </p>
    {% endif %}


    </div><!--pager-->